.mb-3 {
    .ant-select-selector {
        width: 150px !important;
    }
}
.login-container {
    display: flex;
    flex-direction: column; /* Thay đổi hướng xếp hàng */
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #FFCF96;
}

.login-form {
    width: 500px;
    padding: 100px 50px;
    background-color: white;
    border-radius: 8px;
    &-button{
        width: 100%;
        background-color: blue;
    }
}

.login-input {
    padding: 10px;
    margin-bottom: 10px;
    height: 50px;
}

.login-button {
    width: 150px;
    padding: 10px;
    background-color: #ff7f50;
    height: 45px;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-family: "Montserrat" !important; /* Thêm font-family */
}

.login-button:hover {
    background-color: #ff6347;
}
