.form-edit-pawn{
    padding: 10px;
    .save-edit-button{
        background-color: antiquewhite;
        margin-top: 30px;
    }
    &-item{
        .ant-form-item-row{
            display: flex !important;
            gap:30px !important;   
                label{
                    font-size: 20px;
                }
            .ant-form-item-label{
                width: 100px;
                display: flex;
                justify-content: left;
            }
            .form-input-pawn{
                width: 100%;
                border-radius: 0%;
                height: 45px;
            }
            .form-input-select{
                width: 100%;
                border-radius: 0%;
                //height: 50px;
                .ant-select-selector{
                   height: 40px;
                    border-radius: 0%;
                }
            }
            .form-input-textarea{
                width: 80%;
                border-radius: 0%;
                height: 100px;
            }
        }

    }
}
.btn-submit-add-payment{
    padding: 10px 55px;
    display: flex;
    justify-content: right;
}