 .dropdown-nav{
    display: block;
    list-style-type: none;
    width: 400px; 
} 
.dropdown-nav li p{
    font-size: 13.7px;
}
.sidebar .nav li > a{
    font-size: 15.5px !important
} 
 
.sidebar-wrapper {
    padding-bottom: 200px !important;
    overflow: hidden !important;
}
@media screen and (max-width: 600px) {
    .sidebar-wrapper {
        padding-bottom: 100px !important;
        max-height: 500px; /* Đặt chiều cao tối đa cho container */
        overflow-y: auto !important;
        overflow-x: hidden !important;
    }
}
.sidebar.open{
    width: 60%;
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
}
.footer{
    background-color: white;
}

