.button-action {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &-edit {
        background-color: #1eba47;
        color: rgb(255, 255, 255);
        font-weight: bold;
        width: 110px;
        &:hover {
            color: rgb(73, 73, 73) !important;
        }
    }
    &-payment {
        background-color: #1eba47;
        color: rgb(255, 255, 255);
        font-weight: bold;
        &:hover {
            color: rgb(73, 73, 73) !important;
        }
    }
    &-delete {
        background-color: rgb(255, 40, 40);
        color: rgb(249, 249, 249);
        font-weight: bold;
        width: 110px;
        &:hover {
            color: rgb(73, 73, 73) !important;
        }
    }
    &-detail {
        background-color: bisque;
        font-weight: bold;
    }
    .select-search-action {
        width: 110px;
        font-weight: bold;
        .ant-select-selector {
            background-color: rgb(213, 168, 113) !important;
        }
        .ant-select-selection-item {
            font-weight: bold;
        }
        .ant-select-item-option {
            font-weight: bold;
        }
    }
}
.button-action-detail {
    background-color: bisque;
    font-weight: bold;
}
.dropdown-nav {
    padding-left: 20px !important;
}
.ant-table-thead {
    font-family: "Montserrat" !important;
    tr {
        th {
            background-color: rgb(255, 245, 231) !important;
        }
        td {
            background-color: rgb(255, 245, 231) !important;
        }
    }
}

.even-row {
    background-color: rgba(0, 0, 0, 0.05); /* Màu nền cho hàng chẵn */
}

.odd-row {
    background-color: #ffffff; /* Màu nền cho hàng lẻ */
}
.table-responsive {
    overflow: auto;
    max-width: 100%;
}
.sidebar-wrapper {
    ul {
        font-family: "Montserrat" !important;
    }
}

div,
.ant-modal-body,
.ant-input-suffix,
.ant-input,
.ant-select-selector,
.ant-drawer-content,
.ant-btn,
.ant-select-selection-item,
.ant-form-item-label,
.ant-table {
    font-family: "Montserrat" !important;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    //width: 14.7%;
    //background-color: bisque;
    padding: 20px 10px;
    text-align: center;
    ul {
        li:hover {
            font-weight: bold;
            cursor: pointer;
        }
    }
}
.navbar-nav {
    padding-bottom: 3px;
    .nav-item {
        display: flex;
        gap: 5px;
    }
}

.add-payment {
    &-old-amount {
        font-weight: bold;
    }
    &-new-amount {
        font-weight: bold;
        color: red;
    }
}

.c-red {
    color: red;
}
.d-flex {
    display: flex;
    gap: 2px;
}

.forgot-password {
    margin-top: 10px;
    &:hover {
        font-weight: bold;
        cursor: pointer;
    }
}

.title-otp-modal {
    color: red;
    padding: 10px;
    padding-bottom: 30px;
}

.form-check-note {
    margin-left: 100px;
    padding: 20px 0px;
}

.custom-toast-container {
    width: 400px;
    font-size: 15px;
}

.hight-light {
    background-color: rgb(253, 193, 193);
    padding: 10px;
}
.btn-blue {
    background-color: blue;
    width: 100%;
    padding: 10px;
    color: white;
    font-weight: bold;
}
@media screen and (max-width: 768px) {
    .ant-tabs-nav {
        width: 800px;
        overflow: auto;
    }
    /* Thay đổi kiểu dáng khác khi cần */
}
.logo {
    display: flex;
    justify-content: center;
}
.name-customer {
    color: orange;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
}
.reset {
    cursor: pointer;
    padding-left: 10px;
}
.cursor-pointer {
    cursor: pointer;
}

.select-search {
    .ant-select-arrow {
        margin-top: 0.5px;
    }
}

.products-detail {
    padding-bottom: 30px;
    li {
        padding-bottom: 10px;
        .form-edit-order-input {
            border-radius: 0%;
            width: 80%;
            .ant-select-selector {
                border-radius: 0%;
            }
        }
        .form-input-number {
            border-radius: 0%;
            min-width: 60px !important;
        }
    }
}

.ant-btn-primary {
    background-color: #1677ff !important;
}
.button-order-category {
    background-color: white !important;
}

.required-label::before {
    content: "* ";
    color: red;
}
.b-red {
    .form-input-pawn {
        border-color: #ff7875;
    }
}
.btn-success-create {
    &-label {
        width: 100px;
        font-weight: bold;
        color: #ffffff;
        background-color: #1677ff;
    }
}
.justify-content-right{
    justify-content: right;
}
.loading{
    display: grid;
    place-items: center;
    width: 100%;
    height: 77.5vh;
}